# Se mediapipe falhar no Windows, use:
# pip install mediapipe --extra-index-url https://storage.googleapis.com/mediapipe-prebuilt/whl
mediapipe==0.10.33
opencv-python==4.10.0.84
tensorflow==2.20.0
numpy>=1.26,<3
pandas>=2.2.3
scikit-learn>=1.5.2
matplotlib>=3.9.2
pyttsx3==2.90
gTTS==2.5.1
PyYAML==6.0.2
tqdm==4.66.5
pillow-heif==0.18.0
Pillow==10.4.0
